# 리스트 [] 대괄호
# 튜플 (),  괄호
# 딕셔너리 {}

# 리스트

In [25]:
# 코딩도장 Unit 10 리스트와 튜플 사용하기
# 변수의 값은 하나의 값을 한 개씩만 저장
# 변수 = 값 : 값이 한개
# 리스트 = [값, 값, 값] = 값이 여러개 , 나를 편하게 해주는 매직 같은 리스트 갓 값 값
a = [38, 21, 53, 62, 19]
print(a)
a

[38, 21, 53, 62, 19]

[38, 21, 53, 62, 19]

In [26]:
# a = [38, 21, 53, 62, 19] : 요소(element), 요소들
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [27]:
# None = [] # NOTE : None은 안됨
a = []
b = list()

print(a) # *프린트함수를 사용하면 빈리스트 표시됨
print(b)
a # *빈리스트는 표시 안됨
b

[]
[]

[]

In [28]:
range(10)

range(0, 10)

In [29]:
a = list(range(10)) #요소(element)들을 나타낼 수 있다
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
#b = list(range(시작,끝))
b = list(range(5,12))
b

[5, 6, 7, 8, 9, 10, 11]

In [31]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [32]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
f = list(range(10, 0, -1))
f

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 튜플

In [46]:
# 튜플 = (값, 값, 값)
# 튜플 = 값, 값, 값
a = 38, 21, 53, 62, 19
b = (38, 21, 53, 62, 19)
#a
b
#print(a)
#print(b)

(38, 21, 53, 62, 19)

In [45]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [49]:
#튜플 괄호()로 묶여있다
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [50]:
#리스트 꺽새?[]로 묶여있다
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [51]:
# 요소가 한 개 들어있는 튜플 만들기
(38)
38

38

In [52]:
# 요소가 한 개 들어있는 튜플 만들기
(77)
77

77

In [54]:
# 요소가 한 개 들어있는 튜플 만들기
(77,81)
77,81

(77, 81)

In [55]:
# 요소가 한 개 들어있는 튜플 만들기
(77,)
77,

(77,)

In [56]:
# 요소가 한 개 들어있는 튜플 만들기
77,
77,

(77,)

## range를 사용하여 튜플 만들기

In [57]:
# 튜플 = tuple(range(횟수))
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [58]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [61]:
# 튜플=tuple(range(시작,끝,증가폭))
c = tuple(range(-4, 10, 2))# 10을 포함하려면 : c = tuple(range(-4, 12, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

## *튜플, 리스트 형태변환
## 튜플을 리스트로 만들고 리스트를 튜플로 만들기
> ### 튜플 -> 리스트, 리스트 -> 튜플, 튜플 <->리스트

In [62]:
# 리스트 -> 튜플
# list -> tuple
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [63]:
# 튜플 -> 리스트
# tuple -> list
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [64]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [65]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [72]:
# 리스트와 튜플로 변수 만들기
a, b, c = [1, 2, 3]
print(a, b, c, end= ' : 변수여러개와 여러개의 값을 한번에 지정')

1 2 3 : 변수여러개와 여러개의 값을 한번에 지정

In [73]:
d,e,f = (4, 5, 6)
print(d, e, f)

4 5 6

In [74]:
d

4

In [75]:
e

5

In [76]:
f

6

# 리스트와 튜플의 요소를 변수 여러 개에 할당할는 것을 리스트 언패킹(list unpacking), 튜플 언팽킹(tuple unpacking)
>리스트 언패킹(list unpacking)
a, b, c = [1, 2, 3]
print(a, b, c)

>튜플 언팽킹(tuple unpacking)
d,e,f = (4, 5, 6)
print(d, e, f)

In [81]:
x = [1, 2, 3]
a, b, c = x # 리스트 언패킹(list unpacking) :  리스트에 요소를 여러개의 변수에 할당 : 패킹 묶는다(합친다), 언패킹 묶지 않는다(나눈다)

print(a)
print(b)
print(c)

print(a, b, c)

1
2
3
1 2 3

In [83]:
y = (4, 5, 6)
d, e, f = y # 튜플 언패킹(Tuple unpacking) : 튜플에 요소를 여러개의 변수에 할당 : 패킹 묶는다(합친다), 언패킹 묶지 않는다(나눈다)

print(d)
print(e)
print(f)

print(d, e, f)

4
5
6
4 5 6

In [85]:
#

input().split()

10 20

['10', '20']

In [86]:
x = input().split()

20 30

In [87]:
x = input().split()
a, b = x

50 70

In [90]:
print(a)
print(b)

50
70

In [92]:
x = input().split()
a, b = x

print(a, b)

3 8
3 8

In [93]:
a, b = input().split()
print(a,b)

8 3
8 3

In [ ]:
# 리스트 패킹, 튜플 캐핑 : 리스트 또는 튜플 할당하는 과정
# 패킹 묶는다(합친다), 언패킹 묶지 않는다(나눈다)
a = [1, 2, 3] # 리스트 패킹
b = (1, 2, 3) # 튜플 패킹
c = 1, 2, 3 # 튜플 패킹

In [101]:
# 코딩도장 연습문제 10.4
a = list(range(5, -11, 2)) # NOTE : 폭 감소폭을 -2로 안하고 2로 했더니 나타나지 않아서 한참 찾음
a

[]

In [102]:
# 코딩도장 연습문제 10.4
a = list(range(5, -11, -2)) # NOTE : 폭 감소폭을 -2수정 후 나타남 리스트 표시
a

[5, 3, 1, -1, -3, -5, -7, -9]

In [116]:
# 심사문제 : range로 튜플 만들기
# range로 튜플 만들기
n = int(input())
a = tuple((-10, 10, n)) #NOTE : range() 함수를 넣지 않고 해서 오류가 났음/ 순간 반복적으로 시작과 끝 증가폭으로 만들기만 하고 tuple() 생성함
print(a, '실패')

2
(-10, 10, 2) 실패

In [112]:
# 심사문제 : range로 튜플 만들기
# range로 튜플 만들기
n = int(input())
a = tuple(range(-10, 10, n)) #NOTE : range() 함수를 넣지 않고 해서 오류가 났음/ 순간 반복적으로 시작과 끝 증가폭으로 만들기만 하고 tuple() 생성함
print(a, '성공')

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8) 성공

# 딕셔너리 : 값에 이름 붙이는 기능

In [ ]:
# Unit 12 딕셔너리 사용
lux = [490, 334, 550, 18.72]
# 게임 캐릭터 능력치 : 딕셔너리의 저장하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.77}
# 딕셔너리는 값마다 이름을 붙여서 저장하는 방식 / 슬슬 재미있어지네~

In [117]:
# 딕셔너리 만들기
# *딕셔너리 = {키1:값1, 키2:값2} : 키-값 쌍(key-value pair)
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.77}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.77}

In [118]:
lux['health']

490

In [121]:
# 키가 중복되면 맨뒤에 있는 값을 사용
lux = {'health': 490,'health': 880, 'mana': 334, 'melee': 550, 'armor': 18.77}
lux['health']

880

In [123]:
lux
# 중복되는 *맨마지막 값을 가져와서 중복되는 이전 키값은 가져오지 않음

{'health': 880, 'mana': 334, 'melee': 550, 'armor': 18.77}

In [124]:
# 12.1.2 딕셔너리 키의 자료형
x = {100: 'hundred', False: 0, 3.5:[3.5, 3.5]}
x

{100: 'hundred', False: 0, 3.5: [3.5, 3.5]}

In [2]:
x = {{10, 20}: 100}

TypeError: unhashable type: 'set'

In [4]:
x = {{'a', 20}: 100}

TypeError: unhashable type: 'set'

## 키에는 리스트와 딕셔너리를 사용할 수 없습니다.

In [8]:
#빈 딕셔너리 만들기
x = {}
x

{}

In [9]:
#빈 딕셔너리 만들기
y = dict()
y

{}

### 12. 1.4 딕셔너리 만들기
- 딕셔너리 = dict(키1=값1, 키2=값2)
- 딕셔너리 = dict(zip([키1,키2]),[값1,값2]))
- 딕셔너리 = dict([(키1, 값1), (키2,값2)])
- 딕셔너리 = dict({키1:값1, 키2:값2})

In [12]:
lux1 = dict('health'=490, mana=334, melee=550, armor=18.72) # NOTE : dict안에 키에''를 넣게 되면 에러가 나옴
lux1

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1440509714.py, line 1)

# 딕셔너리 만들기

In [13]:
# NOTE : 딕셔너리 만드는 방법 중에서 1번이 제일 푠하고 보기 쉽다.
lux1 = dict(health=490, mana=334, melee=550, armor=18.72) # NOTE : dict안에 키에''를 넣게 되면 에러가 나옴
lux1    # 키 = 값형식으로 딕셔너리를 만듦

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [14]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'],[490, 334, 550, 18.72])) # zip()함수를 쓰면 묶음형태여서 오히려 편한 것 같다, 리스트형태로 묶는게 포인트
lux2   # ZIP 함수로 키 리스트와 값 리스트를 묶음

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [20]:
lux3 = dict([('health', 490),('mana', 334), ('melee', 550), ('armor', 18.72)])
lux3    # (키, 값) 형식의 튜플로 딕셔너리를 만듦

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [17]:
lux4 = dict({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})
lux4    # dict 안에서 중괄호로 딕셔너리를 만듦

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

## 딕셔너리의 키에 값 할당하기

In [18]:
# 딕셔너리의 키에 접근하고 값 할당하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['health']

490

In [21]:
lux['armor']

18.72

In [22]:
lux = {'health':490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['health']

490

In [23]:
lux['health'] = 2037
lux['mana'] = 1184
lux

{'health': 2037, 'mana': 1184, 'melee': 550, 'armor': 18.72}

In [27]:
# 키추가 값 할당
lux['mana_regen'] = 3.28
lux

{'health': 2037,
 'mana': 1184,
 'melee': 550,
 'armor': 18.72,
 'mana_regen': 3.28}

In [28]:
# NOTE : 키 에러 없는 키를 불러오기 때문에 에러가 남
lux = {'health':490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['attack_speed']

KeyError: 'attack_speed'

In [29]:
lux = {'health':490, 'mana': 334, 'melee': 550, 'armor': 18.72}
'health' in lux

True

In [30]:
'attack_speed' in lux

False

In [31]:
'attack_speed' not in lux

True

In [32]:
'health' not in lux

False

해시
>딕셔너리는 해시(Hash) 기법을 이요해서 데이터를 정합니다. 보통 딕셔너리와 같은 키-값 형태으 ㅣ자료형을 해시, 해시맵 해시테이블 등으로 부르기도 합니다.

In [33]:
lux = {'health':490, 'mana': 334, 'melee': 550, 'armor': 18.72}
len(lux)

4

In [34]:
len({'health':490, 'mana': 334, 'melee': 550, 'armor': 18.72})

4

In [42]:
# 12.4 연습문제
camille = {'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63, 'melee': 125, 'attack_damage': 60, 'attack_speed': 0.625, 'armor': 26, 'magic_resistance': 32.1, 'movement_speed': 32.1, 'movement_speed': 340}

print(camille['health'])
print(camille['movement_speed'])

575.6
340

In [47]:
x = input().split()
a,b = x
#print(x) # 출력해보니 양쪽에 ""쌍따움표가 붙어졌다.
print(a, b)

'health':575.6, 'health_regen':1.7
'health':575.6, 'health_regen':1.7

In [50]:
a = dict(health:575.6, health_regen: 1.7, mana: 338.8, mana_regen: 1.63) # NOTE : 에러남 : 아니라 = 이다
print(a)

SyntaxError: invalid syntax (1165318759.py, line 1)

In [51]:
a = dict(health= 575.6, health_regen= 1.7, mana= 338.8, mana_regen= 1.63)
print(a)

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}